h1{
    color: aqua;
    background: rgb(91, 87, 87);
    text-align: center;
    border: 2px solid rgb(28, 46, 202);
    border-radius: 50%;
}
nav{
    background-color: #0055A4;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
nav a:hover{
    color: yellow;
}
nav img{
    width: 50px;
    height: 50px;
}
img{
    border: 5px solid black;
    border-radius: 10px 10px;
}
