/* body{
    font-family: "Khmer OS Batambang", Arial, Helvetica, sans-serif;
} */
table{
    width: 70%;
    margin: auto;
    border-collapse: collapse;
    font-family: Khmer OS Battambang, Arial, sans-serif;
}

th{
    background: #007bff;
    color: white;
    padding: 10px;
}

td{
    padding: 10px;
}

th, td{
    border: 1px solid #3d2626;
}

tr:nth-child(even){
    background: #f2f2f2;
}

tr:hover{
    background: #d6eaff;
}
h3{
    text-align: center;
    color: #333;
    margin-bottom: 15px;
     font-family: Khmer OS Battambang, Arial, sans-serif;
}

ol{
    max-width: 400px;
    margin: auto;
    padding: 0;
    list-style: none;
     font-family: Khmer OS Battambang, Arial, sans-serif;
}

ol li{
    background: rgb(145, 135, 203);
    margin: 10px 0;
    padding: 12px 15px;
    border-radius: 30px;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    font-size: 18px;
}

ol li:hover{
    transform: scale(1.02);
    transition: .3s;
}